/*
ul{
	font-family: sans-serif;
	position: absolute;
	font-size: 18px;
	list-style: none;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 500;
	width: 80px;
	background-color: #636363;
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
	display: flex;
}
li{ 
display: inline-block;
color: #ffff;
text-decoration: none;
font-weight: 400;
padding: 7px;
}
*/

.head{
	width: 100%;
    position: relative;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 9px 30px;
    background-color: #636363;
    -webkit-box-shadow: inset 0 -1px 0 #636363;
    box-shadow: inset 0 -1px 0 #636363;
}

body{ 

	width: 100%;
	margin: 0;
}

.video{
	
    margin: 0 auto;
    display: block;
    text-align: center;
}


}

h2{  
	color: #000000;
	font-size: 200%;
	font-family: 'Roboto Serif', sans-serif;
	text-align: center;
}



.Text_open{

	font-family: 'Lobster', cursive;
	font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Roboto Serif', sans-serif;
	font-size: 100%;
	text-align: center;
}

.giper{

	font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Roboto Serif', sans-serif;
	font-size: 150%;
	text-align: center;
	color: #636363;
	text-decoration: none
}


img{
	padding: 30px; 
    background: #f0f0f0; 
    border: 3px solid #666; 
    text-align: center;
}

button{
	
	background-color: #000000;
	text-align: center;
	border: none;
	color: white;
	padding: 15px 32px;
	font-family: Impact;
	display: inline-block;
	font-size: 15px;
	margin: 4px 2px;
	cursor:  pointer;
	border-radius: 200px;
	
}
